h1{
    text-align: center;
    font-size: 85px;
    color: blueviolet;
}
figure{
    float:left
}
figcaption{
    padding:10px;
    outline-style: double;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
    border: 3px groove rgb(240, 156, 0);
}
li{
    margin: 5px;
    padding: 4px;
    display: inline;
    background-color: rgba(221, 221, 221, 0.637);
    float: left;
    border-right: 1px solid;
    color: rgb(0, 0, 0);
    text-align: center;
}
li:last-child{
    float: right;
    border-right: none;
    border-left: 1px groove;
}